* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 0.2fr 5fr 0.4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Header Header Header Header Header" "Nav Nav Nav Nav Nav" "Main Main Main Main Main" "Footer Footer Footer Footer Footer";
  background-color: #f3a4a4;
}

.Header {
  grid-area: Header;
}

.Nav {
  grid-area: Nav;
}

.Main {
  grid-area: Main;
}

.Footer {
  grid-area: Footer;
}

.Header {
  grid-area: Header;
}

.Nav {
  grid-area: Nav;
}

.Main {
  grid-area: Main;
}

.Footer {
  grid-area: Footer;
}

header .background-video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 400px;
  left: 0;
  right: 0;
  z-index: -1;
  border: solid 5px black;
}
header h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  font-size: 7.5rem;
  font-family: "New Amsterdam", sans-serif;
}

nav {
  background-color: black;
  width: 100%;
  height: 80px;
}
@media (min-width: 400px) {
  nav {
    height: 90px !important;
  }
}
@media (min-width: 400px) {
  nav .navbar-toggler {
    display: none;
  }
}
nav .nav {
  background-color: black;
  width: 100%;
  height: 80px;
}
@media (min-width: 400px) {
  nav .nav {
    display: flex !important;
    justify-content: center;
    flex-direction: row;
  }
}
nav .lista {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 400px) {
  nav .lista {
    display: flex;
    flex-direction: row;
  }
}
nav .lista .botones {
  background-color: rgb(216, 98, 113);
  width: 200px;
  text-align: center;
  border: solid 2px;
  border-radius: 7px;
}
nav .lista .botones:hover {
  background-color: rgb(170, 39, 72);
  border: solid 2px rgb(105, 3, 29);
}
@media (min-width: 400px) {
  nav .lista .botones {
    width: 80px;
    font-size: 10px;
  }
}
nav .lista .dropdown-menu {
  background-color: rgb(0, 0, 0);
  color: rgb(131, 14, 14);
}
nav .lista .dropdown-menu .dropdown-item:hover {
  background-color: rgb(39, 37, 37);
}

.maincontacto {
  padding-bottom: 50px;
}

.mainindex {
  padding-bottom: 0;
}

main {
  height: auto;
  width: 99vw;
  padding-bottom: 350px;
}
main .multimediaindex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 480px) {
  main .multimediaindex {
    display: flex;
    flex-direction: column;
  }
}
main .multimediaindex .videozapas1, main .multimediaindex .videozapas2 {
  width: 700px;
  height: 394px;
  box-shadow: 10px 10px 10px 10px;
}
@media (min-width: 400px) {
  main .multimediaindex .videozapas1, main .multimediaindex .videozapas2 {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
main .multimediaindex .carousel {
  box-shadow: 10px 10px 10px 10px;
}
@media (min-width: 400px) {
  main .multimediaindex .carousel {
    width: 300px !important;
  }
}
main .productosadidas {
  display: flex;
  flex-direction: row;
}
main .productosadidas .tarjetazapas {
  background-color: rgb(192, 128, 134);
  width: 450px;
  height: 520px;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 70px;
  margin-left: 130px;
  box-shadow: 10px 10px 10px 10px;
  margin-top: 20px;
}
main .productosadidas .tarjetazapas .linkcomprar {
  text-decoration: none;
  color: black;
}
main .productosadidas .tarjetazapas .carouseladidas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 290px;
  max-width: 100%;
}
main .productosadidas .tarjetazapas .botoncomprar {
  background-color: green;
  width: 200px;
  height: 60px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: auto;
}
main .productosadidas .tarjetazapas .botoncomprar:hover {
  background-color: rgb(6, 68, 6);
  color: white;
}
main .productosadidas .tarjetazapas .accordion-body {
  background-color: #d87676;
  color: white;
}
main .tituloadidas {
  text-align: center;
  font-size: 6rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  box-shadow: 10px 10px 10px 10px;
}
main .parrafonosotros {
  margin-top: 100px;
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  background-color: #d87676;
  border-radius: 20px;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 10px 10px 10px 10px;
}
main .formulario {
  margin: auto;
  width: 700px;
  height: 500px;
  margin-top: 100px;
  border: solid 3px black;
  padding: 30px;
  background-color: #be8181;
  box-shadow: 10px 10px 10px 10px;
}
main .formulario .enviarcontacto {
  text-align: center;
}
main .cuadradodecompra {
  width: 1300px;
  height: 90vh;
  background-color: rgb(207, 195, 198);
  text-align: center;
  margin-left: 280px;
  margin-top: 60px;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
main .cuadradodecompra .zapascompra {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 800px;
  height: 858px;
  box-shadow: none;
}
main .cuadradodecompra .contenidodecompra {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
main .cuadradodecompra .contenidodecompra .columnatalles1, main .cuadradodecompra .contenidodecompra .columnatalles2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle1, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle1 {
  background-color: #f3a4a4;
  margin-right: 10px;
  margin-left: 10px;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle1:hover, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle1:hover {
  background-color: #e5b9b9;
  color: white;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle2, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle2 {
  background-color: #f3a4a4;
  margin-right: 10px;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle2:hover, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle2:hover {
  background-color: #e5b9b9;
  color: white;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle3, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle3 {
  background-color: #f3a4a4;
  margin-right: 90px;
}
main .cuadradodecompra .contenidodecompra .columnatalles1 .talle3:hover, main .cuadradodecompra .contenidodecompra .columnatalles2 .talle3:hover {
  background-color: #e5b9b9;
  color: white;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito {
  margin-top: 50px;
  background-color: black;
  border-radius: 50px;
  width: 300px;
  text-align: center;
  margin-left: 120px;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito:hover {
  background-color: green;
  color: black;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito2 {
  margin-left: 140px;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito3 {
  margin-left: 190px;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito4 {
  margin-left: 150px;
}
main .cuadradodecompra .contenidodecompra .botondeagregaralcarrito5 {
  margin-left: 100px;
}
main .cuadradodecompra .contenidodecompra .textodebajodelboton {
  font-style: italic;
  margin-top: 5px;
}
main .cuadradodecompra .contenidodecompra .descripcion {
  width: 400px;
  margin-left: 60px;
  font-size: 1.2rem;
}
main .cuadradodecompra .contenidodecompra .descripcion2 {
  margin-left: 80px;
}
main .cuadradodecompra .contenidodecompra .descripcionpuma {
  margin-left: 140px;
  margin-top: 0px;
  font-size: 1.1rem;
}
main .cuadradodecompra .contenidodecompra .descripcionpuma2 {
  margin-left: 110px;
}
main .cuadradodecompra .contenidodecompra .descripcionadidas {
  margin-left: 80px;
}
main .cuadradodecompra .contenidodecompra .descripcionadidas2 {
  margin-left: 50px;
}
main .cuadradodecompra .contenidodecompra .titulodescripcion {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  color: #d87676;
  font-size: 1.3rem;
}
main .cuadradodecompra .contenidodecompra .botoninicio {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

footer {
  background-color: #000000;
  margin-top: 30px;
  z-index: -1;
}
footer h3 {
  color: white;
}

.backgroundvideocompra {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -10;
}

/*# sourceMappingURL=asdas.css.map */
