header{
    .background-video{
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 400px;
        left: 0;
        right: 0;
        z-index: -1;
        border: solid 5px black;
    }
    h1{
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 150px;
        font-size: 7.5rem;
        font-family: "New Amsterdam", sans-serif;
    }
}